# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env
config/.env

# Data Files
*.json
*.csv
*.log

# Kafka & Zookeeper Logs
kafka-logs/
zookeeper/

# MongoDB & Kafka Storage
*.db
*.lock
*.pid
*.sock
*.out
*.log

# macOS files
.DS_Store